<%# encoding: utf-8 -%>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Created class email</h1>
    <ul>
      <li><%= link_to "Sí", confirmed_class_teaching_assistant_yes_url(@confirmed_class) %></li>
      <li><%= link_to "No", confirmed_class_teaching_assistant_no_url(@confirmed_class) %></li>
    </ul>
  </body>
</html> 
