<%# encoding: utf-8 -%>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><b>[GoIng]</b> Clase confirmada</h1>

    <p>Hola!</p>

    <p>Muchas gracias por confirmar! Recuerden que ahora deben comunicarse entre ustedes (sus correos están en el primer mail enviado) ya que tienen la <b>responsabilidad de buscar un lugar donde hacer la clase</b> para luego informarle al ayudante donde reservaron o acordaron el espacio. El nombre del ayudante es <b><%= @teaching_assistant.name %> (<%= @teaching_assistant.email %>)</b> y está esperando que se comuniquen con él una vez que se hayan puesto de acuerdo entre ustedes con sobre el lugar donde tendrán la clase.</p>

    <p>Esperamos que todo salga bien, si tienen algún problema no duden en avisar. Saludos!</p>

  </body>
</html> 




