<div class="container bg-1 text-center rounded-lg">
    <h1 class="mt-5">Proyecto <b>GoIng</b></h1>
    <%= image_tag("logo_ig.jpg", class: "img-circle img-fluid img-responsive img-thumbnail", alt: "Logo GoIng") %>
    
    <p class="lead">Pide tus clases aqui!</p>
    
    <% if signed_in? %>
        <%= link_to("#", { class: "btn btn-primary btn-lg disabled", disabled: true}) do %>
            <span class="fa fa-google"></span> <%= current_user.google_email %>
        <% end %>
    <% else %>
        <%= link_to("/auth/google", { class: "btn btn-primary btn-lg" }) do %>
            <span class="fa fa-google"></span> Ingresa con Google
        <% end %>
    <% end %>
</div>

<div class="container bg-2 text-center rounded-lg">
    <h3 class="mt-1">¿Cómo funcionan las clases?</h3>
    <p>Son clases particulares gratuitas, se realizan de forma individual o grupal. Cada alumno puede solicitar clases de un ramo disponible en un horario específico. Los ayudantes son alumnos voluntarios con total disposición a ayudar que fueron capacitados para realizar clases personalizadas.</p>
</div>

<div class="container bg-2 text-center rounded-lg">
    <h3 class="mt-1">¿Cómo pido una clase?</h3>
    <p>Es necesario registrarte con una cuenta Google. Posteriormente puedes pedir con una semana de anticipación. Debes seguir las instrucciones de la página y estar atento a los pasos a seguir en tu mail.</p>
</div>