<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      ¡Muchas gracias por pedir tu clase a través de GoIng! Pronto recibirás un correo con el día y horario en el que se realizará tu clase. Te pedimos que estés atento a tu correo para poder acelerar el proceso.
    </p>
  </body>
</html> 