<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <p>
        Hola!

        Tu solicitud de clase del curso <b><%= @request.course.name %></b> lleva más de dos días sin ser contestada.
    </p>
    <br>
    <p>Te recomendamos solicitar una clase en módulos distintos.</p>
</body>

</html>