<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @teaching_assistant.name %></h1>
    <p>
      ¿Puedes hacer una clase de <%= @course.name %> en el siguiente módulo? <%= @preference.display_preference %>.
    </p>
    <ul>
      <li>
        <link rel="stylesheet" href="">Sí, sí puedo hacer esa clase.
      </li>
      <li>
        <link rel="stylesheet" href="">No, no puedo hacer esa clase.
      </li>
    </ul>
    <p>
      Esperamos tu respuesta! Gracias :)
    </p>
  </body>
</html> 