<div class="container text-center">
	<h1 class="mt-5">Pide tu clase</h1>
	<p class="lead">Llenando este formulario, solo deberás esperar a que se te asigne un ayudante. Recuerda revisar tu correo desde el momento en que envías la petición!</p>
</div>

<div class="container">
	<%= render 'form', request: @request %>
</div>
