<div class="container text-center">
    <h1 class="mt-5">Crea una clase</h1>
    <p class="lead">Al asignar solicitudes, se enviarán los correos automáticamente</p>
</div>

<div class="container">
    <%# render 'form', confirmed_class: @confirmed_class %>
</div>
