<div class="container text-center">
    <h1 class="mt-5">Editar curso</h1>
    <p class="lead">Todos los cambios que hagas se verán automáticamente reflejados en toda la plataforma</p>
</div>

<div class="container">
    <%= render 'form', course: @course %>
</div>

<div class="container">
    <%= link_to('Ver curso', @course, { class: "btn btn-primary" }) %>
</div>
