<div class="container text-center">
    <h1 class="mt-5">Agrega un curso</h1>
    <p class="lead">Al agregar un nuevo curso, podrás asignarlo a cualquier ayudante y quedará automáticamente disponible para que los alumnos pidan clases de este</p>
</div>

<div class="container">
    <%= render 'form', course: @course %>
</div>
