.time-select {
	display: flex;
}

.time-select #time_block_start_4i {
	margin-right: 5px;
}

.time-select #time_block_start_5i {
	margin-left: 5px;
}

.time-select #time_block_finish_4i {
	margin-right: 5px;
}

.time-select #time_block_finish_5i {
	margin-left: 5px;
}