<div class="container text-center">
    <h1 class="mt-5">Editar m칩dulo</h1>
    <p class="lead">Todos los cambios que hagas se ver치n autom치ticamente reflejados en toda la plataforma</p>
</div>

<div class="container">
    <%= render 'form', time_block: @time_block %>
</div>

<div class="container">
    <%= link_to('Ver m칩dulo', @time_block, { class: "btn btn-primary" }) %>
</div>
