<div class="container text-center">
    <h1 class="mt-5">Editar ayudante</h1>
    <p class="lead">Todos los cambios que hagas se verán automáticamente reflejados en toda la plataforma</p>
</div>

<div class="container">
    <%= render 'form', teaching_assistant: @teaching_assistant %>
</div>

<div class="container">
    <%= link_to('Ver ayudante', @teaching_assistant, { class: "btn btn-primary" }) %>
</div>
