<footer class="footer">
    <div class="container">
        <span class="text-muted">Creado por <a href="http://github.com/aaossa/">Antonio Ossa</a> con <i class="fa fa-heart"></i> para Proyecto GoIng.</span>
    </div>
</footer>